* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "static", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.01em;
  color: rgba(42, 43, 47, 0.8);
  @media (max-width: 799px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.container {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
  &--small {
    max-width: 920px;
  }
}
