.product {
  padding: 70px 0 80px;
  @media (max-width: 768px) {
    padding: 40px 0 50px;
  }
  @media (max-width: 425px) {
    padding: 30px 0 40px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 650px) {
      gap: 40px;
    }
    @media (max-width: 400px) {
      gap: 30px;
    }
  }
  &__top {
    max-width: 784px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 63px;
    @media (max-width: 800px) {
      gap: 10px;
      margin-bottom: 30px;
    }
    @media (max-width: 799px) {
      gap: 20px;
    }
    @media (max-width: 650px) {
      margin-bottom: 0;
    }
  }
  &__center {
    max-width: 1138px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 120px;
    @media (max-width: 922px) {
      margin-bottom: 40px;
    }
    @media (max-width: 650px) {
      margin-bottom: 0;
    }
  }
  &__buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    @media (max-width: 660px) {
      flex-wrap: wrap;
    }
  }
  &__card-inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 2;
      width: 85%;
      padding: 42px;
      border: 2px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
      border-radius: 32px;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -28px;
      background-color: #ffffff;
      @media (max-width: 922px) {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      width: 80%;
      padding: 42px;
      border: 2px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
      border-radius: 32px;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -56px;
      @media (max-width: 922px) {
        display: none;
      }
    }
  }
  &__card {
    background-color: #ffffff;
    position: relative;
    z-index: 3;
    padding: 42px;
    border: 2px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    @media (max-width: 922px) {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
    @media (max-width: 500px) {
      padding: 16px;
    }
    @media (max-width: 378px) {
      padding: 16px;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 444px;
    @media (max-width: 922px) {
      text-align: center;
      gap: 16px;
    }
  }
  &__title {
    font-size: 60px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    @media (max-width: 922px) {
      text-align: center;
      font-size: 50px;
    }
    @media (max-width: 800px) {
      text-align: center;
      font-size: 40px;
    }
    @media (max-width: 396px) {
      font-size: 30px;
    }
  }
  &__list {
    margin-left: 20px;
    @media (max-width: 922px) {
      margin-left: 0;
    }
  }
  &__item {
    color: rgba(42, 43, 47, 0.9);
    list-style: disc;
    @media (max-width: 922px) {
      list-style: none;
    }
    @media (max-width: 378px) {
      text-align: left;
    }
  }
  &__btn {
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(244, 246, 253, 1);
    padding: 16px 32px;
    border-radius: 12px;
  }
  &__img {
    max-width: 507px;
    @media (max-width: 1100px) {
      max-width: 350px;
    }
    @media (max-width: 440px) {
      max-width: 100%;
    }
  }
  &__button {
    margin: 0 auto;
  }
}

.btn-active {
  background-color: rgba(1, 70, 254, 1);
  color: rgba(255, 255, 255, 1);
}

.card--hide {
  display: none;
}

.card--show {
  display: flex;
}
